footer{
    background-color: rgb(61, 58, 58);
    width: 100%;
}

footer .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}
.coluna-footer{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.titulo-footer{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #ff7b00;
}
.redes-sociais{
    width: 60px;
    padding: 10px;
}

footer a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}