:root{
    --cor-de-fundo: #ffffff;
    --cor-principal: #ec6307;
    --cor-do-texto: #000000;
    --cor-terciaria: #808080;
    --cor-de-fundo-do-topo: #33312d;
    --fonte: 'Arial', sans-serif;
    --tamanho-da-fonte: 16px;
}